#     This systemd unit configuration is part of Netkit, a network emulation
#     environment based on the integration of several existing pieces of
#     software.
#     For more information: http://www.netkit.org/
#
#     Copyright (C) 2015
#         Massimo Rimondini (rimondin@ing.uniroma3.it)
#     Computer Networks Research Group, Roma Tre University
# 
#     This program is free software: you can redistribute it and/or modify
#     it under the terms of the GNU General Public License as published by
#     the Free Software Foundation, version 3 of the License.
# 
#     This program is distributed in the hope that it will be useful,
#     but WITHOUT ANY WARRANTY; without even the implied warranty of
#     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#     GNU General Public License for more details.
# 
#     You should have received a copy of the GNU General Public License
#     along with this program.  If not, see <http://www.gnu.org/licenses/>.

[Unit]
Description=Mount host directories
DefaultDependencies=no
Conflicts=shutdown.target
Before=netkit-get-vm-files.service
ConditionKernelCommandLine=|hosthome
ConditionKernelCommandLine=|hostlab

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/systemd/netkit/mount-host-dirs.sh
#StandardOutput=journal+console
#StandardError=inherit

[Install]
WantedBy=basic.target
